<h1>Teste Bootstrap</h1>

<!--
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="assets/img/logo_horacio.png" />
      </div>
    </div>
 </div>

<div class="col">
  <div class="card">
    <div class="card-body">
      <img src="assets/img/crud.png" />
    </div>
  </div>
</div>
</div>
-->

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="card" style="width: 18rem;">
  <img src="assets\img\Ronaldo.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Guilherme</h5>
    <p class="card-text">Trabalhador humilde que gosta de ajudar todos em qualquer situação, um bom parceiro para um time e disposto a colaboração.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Colaborador </li>
    <li class="list-group-item">Ajudante</li>
    <li class="list-group-item">Responsável</li>
  </ul>
  <div class="card-body">
    <a href="https://github.com/" class="card-link">GitHub</a>
    <a href="https://www.instagram.com/" class="card-link">Instragram</a>
  </div>
</div>


<router-outlet></router-outlet>
